* {
    font-family: 'Roboto', sans-serif;
}

.selected {
    opacity: 0.7;
}

#country-detail {
    display: inline-block;
    width: 750px;
    height: 100px;
    margin: auto;
    position: relative;
    padding-left: 30px;
}

#country-detail .stat {
    font-style: bold;
    display: block;
    width: 500px;
}

#country-detail .stats span {
    font-weight: bold;
}

#country-detail div.label {
    font-size: 26px;
    display: block;
    width: 100%;
    padding-top: 10px;
}

#country-detail div.label span {
    font-size: 22px;
    padding-bottom: 15px;
    font-weight: bold;
}

#map-chart {
    height: 450px;
}

#scatter-plot {
    height: 730px;
}

#map-chart svg {
    width: 100%;
    height: 100%;
    margin: auto;
}

#map-chart svg {
    margin: auto;
}

.graticule.outline {
    stroke-width: 2px;
  }

.legend {
    width: 200px;
    height: 120px;
    padding-right: 20px;
    margin: auto;
    display: inline-block;
    float: right;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.fill {
    fill: #fff;
    pointer-events: none;
}

.header {
    width: 600px;
    margin: auto;
    text-align: center;
}

.wrapper {
    width: 1600px;
    margin: auto;
}

.view {
    width: 750px;
    /*margin: auto;*/
    padding: 5px;
    display: inline-block;
    float: left;
}

.innerWrapper {
    width: 790px;
    display: inline-block;
    float: left;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-label {
    font-size: 11px;
}

div.toggle-panel {
    display: block;
    width: 100%;
    height: 30px;
    padding: 2px;
}

div.dropdown-wrapper {
    display: inline-block;
    margin-left: 75px;
    width: 320px;
    height: 25px;
    padding: 2px;
    position: bottom;
}

.dropdown {
    float: right;
}

.y-label,
.x-label,
.c-label {
    width: 1%7;
    display: inline-block;
    float: left;
    padding-right: 1px;
}


.select-selected {
    background-color: DodgerBlue;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.slider {
    -webkit-appearance: none;
    width: 725px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 15px
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D4E157;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider-label svg {
    width: 750px;
    height: 35px;
}

.slider-label svg text {
    text-anchor: middle;
}

.slider-wrap {
    display: inline-block;
    float: left;
    width: 750px;
    margin-left: 15px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    height: 28px;
    padding: 2px;
    background: white;
    stroke: black;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip h2 {
    margin: auto;
    font: 14px sans-serif;
}

.activeDate-background {
    font-size: 50px;
    opacity: .4;
}
.activeState-background {
    font-size: 30px;
    opacity: .4;
}

.parks {
    stroke: green;
    stroke-width: 2;
    fill: none;
}

.work {
    stroke: orange;
    stroke-width: 2;
    fill: none;
}
.retail {
    stroke: red;
    stroke-width: 2;
    fill: none;
}
.grocery {
    stroke: blue;
    stroke-width: 2;
    fill: none;
}
.residential {
    stroke: purple;
    stroke-width: 2;
    fill: none;
}
.axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }